################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.gitignore
/.vs
/x64/Debug
/obj
/bin/app.publish
/bin/Release/app.publish
/bin/RapChessCs.application
/bin/RapChessCs.exe.config
/bin/RapChessCs.exe.manifest
/bin/RapChessCs.pdb
/RapChessCs.csproj.user
*.config
*.pdb
*.manifest
*.ini
*.sarif
*.obj
*.pdb
*.ilk
*.tlog
*.log
*.recipe
*.txt